@import "bootstrap/bootstrap.less";
@import "components/keen-dashboards.less";

// Bootstrap Overrides
@import "overrides";
@brand-primary: rgb(77, 226, 237);

// Custom Colors
@extra-light-grey: rgb(216, 216, 216);
@medium-dark-grey: rgb(74, 74, 74);
@brand-lowlight: darken(@brand-primary, 20%);

@story-primary:  #B8E986;
@defect-primary: #FF5B14;
@task-primary:   #333333;
@test-primary:   #4DE2ED;

html, body {
  height: 100%;
}

// components
@import "components/rainbows";
@import "components/big-form";

// pages
@import "pages/login.less";
@import "pages/product-room.less";
@import "pages/mobile-room.less";

.flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.home {
  .flex;
  height: 100%;
  &.logged-out {
    text-align: center;
  }
}

.home section {
  display: inline-block;
  margin: auto;
  width: 100%;


  h1 {
    text-align: center;
  }

  .nav a {
    color: @gray;
    .transition(color 200ms ease-in);

    &:hover {
      color: @gray-base;
    }
  }
}

.home section h1 {
  color: @gray-darker;
  padding-bottom: 1em;

  strong {
    color: @brand-primary;
  }

  &:hover strong {
    .animation(rainbows 10s infinite);
  }

  @media (min-width: @screen-lg-min) {
    font-size: @big-ass-font-lg;
  }
}

.quicksort {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 16px;
  background: #222;

  .quicksort-inner {
    display: table;
    width: 100%;
  }

}

.quicksort .quicksort-item {
  display: table-cell;
  border: 1px solid;
  font-size: 14px;
  text-align: center;
  height: 14px;
  line-height: 14px;
  color: transparent;
  .opacity(0.5);
  .transition(~"opacity,color,background,border 200ms ease-in-out");

  &.item-story {
    background-color: @story-primary;
    border-color: @story-primary;
  }

  &.item-defect {
    background-color: @defect-primary;
    border-color: @defect-primary;
  }

  &.item-task {
    background-color: @task-primary;
    border-color: @task-primary;
  }

  &.item-test {
    background-color: @test-primary;
    border-color: @test-primary;
  }

  &:hover {
    .opacity(1);
  }

  &.active {
    .opacity(1);
    position: relative;
    display: block;
    height: 20px;
    z-index: 1000;
    .box-shadow(0px 1px 8px #000);
  }
}
