{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  <form role="form" id="signup-form" class="big-ass-form" action="/beta/redeem" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Pick a username..." name="username" />
      <h1>@destroy.email</h1>
    </div>
    <div class="form-group">
      <input type="text" class="form-control full" placeholder="Token" name="token" />
    </div>
    <button type="submit" class="btn btn-primary btn-lg hidden" disabled="disabled">Create Account</button>
  </form>
</div>
{% endblock %}

{% block endscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
jQuery(function($){
  var $button = $('#signup-form button');

  $('#signup-form input')
    .on('focus', function() {
      $button.removeClass('hidden');
    })
    .on('blur', function() {
      if (this.value.length > 2) {
        $(this).addClass('has-success');
      } else {
        $button.addClass('hidden');
      }
    })
    .on('keydown', function() {
      if (this.value.length > 2) {
        $button.prop({ disabled: false });
      } else {
        $button.prop({ disabled: true });
      }
    });

});
</script>
{% endblock %}
