{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  <form role="form" action="/login" method="POST" id="login-form" class="big-ass-form">
    {% if error %}
    <pre>{{ error }}</pre>
    {% endif %}
    <div class="form-group">
      <input type="text" class="form-control full" placeholder="Sprintly Email" name="email" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control full" placeholder="API KEY" name="apiKey" />
      <small><a href="">WTF is this?</a></small>
    </div>
    <button type="submit" class="btn btn-primary btn-huge">Let's Go</button>
  </form>
</div>
{% endblock %}


