{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="quicksort" id="quicksort"></div>
<div class="room" id="story">
  <div class="navbar navbar-inverse" id="item-header">
    <div class="container-fluid">
    </div>
  </div>
  <a href="/room/{{room}}">Room</a>
</div>
<script>
  window.sprintly_data = {
    user: {{ JSON.stringify(user) }},
    product: {{ JSON.stringify(product) }},
    room: "{{ room }}"
  }
</script>
{% endblock %}

{% block endscripts %}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
{% endblock %}

