{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid room">

  <section id="score">
    <div class="item-title-card">
      <h1>...</h1>
    </div>
    <div class="scale container">
      <div class="bar bar-zero"></div>
      <div class="bar bar-small"></div>
      <div class="bar bar-medium"></div>
      <div class="bar bar-large"></div>
      <div class="bar bar-xlarge"></div>
    </div>
    <nav>
      <span class="prev glyphicon glyphicon-chevron-left"></span>
      <span class="next glyphicon glyphicon-chevron-right"></span>
    </nav>
  </section>

</div>
<script>
  var sprintly_user = {{ JSON.stringify(user) }};
  var sprintly_product = {{ JSON.stringify(product) }};
</script>
{% endblock %}

{% block endscripts %}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
{% endblock %}

